<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store</string> <!-- app-store, ad-hoc, enterprise, development -->
  <key>teamID</key>
  <string>HQ5SJU4229</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>provisioningProfiles</key>
  <dict>
	<key>com.foresh.fortune</key>  <!-- Replace with your app's bundle ID -->
    <string>42a506b7-8ee3-43c7-8543-17abf59826b0</string>  <!-- Replace with your Provisioning Profile name -->
  </dict>
</dict>
</plist>


